body{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(192,192,192);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

p.title{
    text-align: center;
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

img.resizecenter{
    max-width:25%;
    max-height:25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.marginbot{
    margin-bottom: 2%;
}

p.left{
    text-align: left;
    font-size: 16px;
}

p.center{
    text-align: center;
    font-size: 16px;
}

div.probar{
  margin-top: 1%;
}

div.centered-row{
  margin: auto;
  max-width: 200%;
}

div.continueButton{
    margin-top: 1%;
}

.circle {
  background: #FFFFFF;
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  border:1px solid #000000;
}

.form-js-label {
  input {
    &[data-empty="false"],
    &:focus {
      padding: 22px 8px 10px;
    }
    &:focus {
      outline: 0;
      background: rgba(255,255,255,1);
    }
    &[data-empty="false"] + label,
    &:focus + label {
      color: #5856D6;
      font-weight: 700;
      transform: translate3d(0, -10px, 0);
    }
  }
}

.form-group-1{
  width: 60px;
}